{% extends "invoice/base.html" %} {% load custom_filters %} {% block body %}
{% load static %}
<h3 class="text-center m-4">Elenco Mezzi</h3>
<div class="row justify-content-center">
  <div class="col-6">
    <div class="card bg-light mb-3">
      <div class="card-header">Riepilogo Mezzi</div>
      <div class="card-body">
        <!-- Dropdown Ragione Sociale -->
        <div class="mb-3">
          <label for="company_own" class="form-label">Ragione Sociale</label>
          <select id="company_own" class="form-control">
            <option value="">Seleziona Ragione Sociale</option>
            {% for company in company_own %}
            <option value="{{ company.company_own }}">
              {{ company.company_own }}
            </option>
            {% endfor %}
          </select>
        </div>

        <button class="btn btn-primary" onclick="filterVehicle()">
          Filtra
        </button>
        <div
          id="error-message"
          style="color: red; font-weight: bold; margin: 10px 0"
        ></div>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center mt-4">
  <div class="col-10">
    <div class="card bg-light mb-3">
      <div class="card-body">
        <table class="table mt-3" id="vehicle-table">
          <thead>
            <tr>
              <th>Targa</th>
              <th>Categoria Veicolo</th>
              <th>Euro</th>
              <th>Tip. Contatto</th>
              <th>Scad. Assic.</th>
              <th>Scad. Revisione</th>
              <th>Scad. Bollo</th>
              <th>Scad. Tessere Aci</th>
              <th></th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'vehicle/javascript/list_vehicle.js' %}"></script>


{% endblock %}
