{% extends "invoice/base.html" %}
{% block body %}
{% load static %}

<h3 class="text-center m-4">Aggiungi Fattura</h3>

<!-- Messaggio di conferma nascosto -->
<div id="success-message" class="alert alert-success d-none" role="alert">
    La nuova fattura è stata inserita con successo.
    <a href="{% url 'index' %}" class="alert-link">Torna alla home Page.</a>
</div>

<div class="row justify-content-center">
    <div class="col-8">
        <div class="card bg-light mb-3">
            <div class="card-header">
                <i class="fa-regular fa-file-lines fa-lg"></i> Nuova Fattura
            </div>
            <div class="card-body">
                <form id="invoice-form" action="{% url 'add' %}" method="POST">
                    {% csrf_token %}

                    <div class="form-grid">
                        {{ form.as_p }}
                    </div>

                    <div class="mt-4">
                        <button type="submit" class="btn btn-primary">Aggiungi</button>
                        <a href="{% url 'index' %}" class="btn btn-secondary">Annulla</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'invoice/js/add_invoice.js' %}"></script>
{% endblock %}
