{% extends "invoice/base.html" %} {% block body %} {% load static %}

<h3 class="text-center m-4">Modifica Fattura</h3>

<!-- Messaggio di conferma nascosto -->
<div id="success-message" class="alert alert-success d-none" role="alert">
  Fattura modificata con successo.
  <a href="{% url 'index' %}" class="alert-link">Torna alla home Page.</a>
</div>

<div id="card-edit" class="row justify-content-center">
  <div class="col-8">
    <div class="card bg-light mb-3">
      <div class="card-header">
        <i class="fa-regular fa-file-lines fa-lg"></i> Modifica Fattura
      </div>
      <div class="card-body">
        <form
          id="invoice-form"
          method="POST"
          action="{% url 'edit' invoice.id %}"
        >
          {% csrf_token %}

          <div class="form-grid">{{ form.as_p }}</div>

          <div class="mt-4">
            <button type="submit" class="btn btn-primary">Modifica</button>
            <a href="{% url 'index' %}" class="btn btn-secondary">Annulla</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- JavaScript per AJAX -->
<script src="{% static 'invoice/js/add_invoice.js' %}"></script>

{% endblock %}
